<div class="widget-wrap">
  <h3 class="widget-title">サイト内検索</h3>
  <div class="widget">
    <script async src="https://cse.google.com/cse.js?cx=011985859972959074903:4kk58ztdtva"></script>
    <div class="gcse-search"></div>
  </div>
</div>
